{%- assign ent = include.entry -%}

{%- assign is_group = ent.is_group | default: false -%}
{%- assign itemid = ent.itemid -%}
{%- assign organisation = ent.organisation_upcase -%}
{%- assign mobcollapse = ent.mobcollapse | default: false -%}
{%- assign expand_id = ent.expand_id -%}
{%- assign noexpand = ent.noexpand | default: false -%}

{%- if include.full == false %}<a href="/cv/#{{ itemid }}">{%- endif -%}
<section id="{{ itemid }}" class="entry{% if is_group == false and item.subentry %} sub-entry{% endif %}{% if ent.group_has_content == false or include.full == false %} no-content{% endif %}{% if noexpand %} hide-read-more{% endif %}{% if mobcollapse == false %} never-collapse{% endif %}">
{% if include.full == false %}
    <header>
       <div class="entrydetails">
         <div class="heading-above">{{ organisation }}</div>
         <div class="heading">{{ ent.group_role }}</div>
         <div class="heading-below">{{ ent.group_datestring }}</div>
        </div>
    </header>
{%- endif -%}
{%- if include.full == true -%}
    {% if (is_group and mobcollapse) %}
        <header class="merged">
           <label for="{{ expand_id }}" class="toggle-expand" aria-hidden="true"></label>
           <div class="entrydetails">
             <div class="heading-above">{{ organisation }}</div>
             <div class="heading">{{ ent.group_role }}</div>
             <div class="heading-below">{{ ent.group_datestring }}</div>
            </div>
        </header>
        {% if mobcollapse and ent.group_has_content %}
        <input checked type="checkbox" id="{{ expand_id }}" class="expand-state" aria-hidden="true" onchange="scrollToBlock('{{ itemid }}')"/>
        {% endif %}
    {%- endif -%}
    {% for entry in ent.items %}
        {% if is_group and entry.is_first %}<div class="details">{% endif %}
        <header>
            {% if is_group == false and mobcollapse %}
            <label for="{{ expand_id }}" class="toggle-expand" aria-hidden="true"></label>
            {% endif %}
            <div class="entrydetails">
              {% if entry.is_first == true %}<div class="heading-above">{{ organisation }}</div>{% endif %}
              <div class="heading">{{ entry.role }}</div>
              <div class="heading-below">{{ entry.datestring }}</div>
            </div>
        </header>
        {% if is_group == false and mobcollapse and ent.group_has_content %}
        <input checked type="checkbox" id="{{ expand_id }}" class="expand-state" aria-hidden="true" onchange="scrollToBlock('{{ itemid }}')"/>
        {% endif %}
        {% if is_group == false %}<div class="details">{% endif %}
        <div class="description">
            {{ entry.content_html }}
            {% if item.link %}<a class="toggle-expand link" href="{{ item.link }}" aria-label="read more"></a>{% endif %}
        </div>
    {% endfor %}
    </div>
    {%- if mobcollapse and include.full and ent.group_has_content -%}
        <label for="{{ expand_id }}" class="toggle-expand{% if noexpand %} noexpand{% endif %}" aria-hidden="true"></label>
    {%- endif -%}
{% endif %}
</section>
{%- if mobcollapse and include.full -%}
<style type="text/css">
#{{ expand_id }}:checked + .details { max-height: 120rem; }
#{{ expand_id }}:checked ~ label.toggle-expand:before { content: "Read Less"; }
#{{ expand_id }}:checked + .details > div.fade-out { display: none !important; }
</style>
{% endif -%}
{%- if include.full == false %}</a>{%- endif -%}
