{%- assign item = include.entry -%}
{%- assign itemid = item.path | split: "/" | last | replace: ".md", "" -%}

{%- if item.noexpand -%}
  {%- assign noexpand = true -%}
{%- else -%}
  {%- assign noexpand = false -%}
{%- endif -%}

{%- if item.mobcollapse -%}
  {%- assign mobcollapse = true -%}
{%- else -%}
  {%- assign mobcollapse = false -%}
{%- endif -%}

{%- if mobcollapse -%}{%- capture expand_id -%}{%- increment var -%}{%- endcapture -%}{%- endif -%}

{%- assign unix_end = item.date | date: "%s" | plus: 0 -%}
{%- if unix_end > 5000000000 -%}
  {%- assign end_date = "Present" -%}
{%- else -%}
  {%- assign end_date = item.date | date: "%b %Y" -%}
{%- endif -%}

{%- assign start_date = item.start | date: "%b %Y" -%}
{%- if start_date == end_date -%}
  {%- assign datestring = start_date -%}
{%- else -%}
  {%- capture datestring -%}{{ start_date }} &mdash; {{ end_date }}{%- endcapture -%}
{%- endif -%}
{%- if include.full == false %}<a href="/cv/#{{ itemid }}">{% endif -%}
<section id="{{ itemid }}" class="entry{% if item.subentry %} sub-entry{% endif %}{% if item.content.size < 2 or include.full == false %} no-content{% endif %}{% if noexpand %} hide-read-more{% endif %}{% if mobcollapse == false %} never-collapse{% endif %}">
  <header>
    {% if mobcollapse and include.full and item.content.size > 1 %}<label for="expand{{ expand_id }}" class="toggle-expand" aria-hidden="true"></label>{% endif %}
    <div class="entrydetails">
      <div class="heading-above">{{ item.organisation | upcase }}</div>
      <div class="heading">{{ item.role }}</div>
      <div class="heading-below">{{ datestring }}</div>
    </div>
  </header>
  {%- if item.content.size > 1 and include.full %}
  {% if mobcollapse %}<input{% if noexpand %} checked{% endif %} type="checkbox" id="expand{{ expand_id }}" class="expand-state" aria-hidden="true" onchange="scrollToBlock('{{ itemid }}')" />{% endif %}
  <div class="description">
    {{ item.content | markdownify }}
    {% if noexpand == false and mobcollapse %}<div class="fade-out" aria-hidden="true"></div>{% endif %}
  </div>
  {% if mobcollapse %}<label for="expand{{ expand_id }}" class="toggle-expand{% if noexpand %} noexpand{% endif %}" aria-hidden="true"></label>{% endif -%}
  {% if item.link %}<a for="expand{{ expand_id }}" class="toggle-expand link" href="{{ item.link }}" aria-label="read more"></a>{% endif -%}
  {% endif %}
</section>
{%- if include.full == false %}</a>{% endif -%}
{% if mobcollapse and include.full -%}
<style type="text/css">
#expand{{ expand_id }}:checked + .description { max-height: 120rem; }
#expand{{ expand_id }}:checked ~ label.toggle-expand:before { content: "Read Less"; }
#expand{{ expand_id }}:checked + .description > div.fade-out { display: none !important; }
</style>
{% endif -%}
