{% assign item = include.entry %}

{% if item.noexpand %}
  {% assign noexpand = true %}
{% else %}
  {% assign noexpand = false %}
{% endif %}

{% if item.mobcollapse %}
  {% assign mobcollapse = true %}
{% else %}
  {% assign mobcollapse = false %}
{% endif %}

{% if mobcollapse %}{% capture expand_id %}{% increment var %}{% endcapture %}{% endif %}

{% assign pubdate = item.date | date: "%b %Y" %}

{% if item.publisher %}{% capture publisher %}<a href="{{ item.publisher }}">Publisher</a> | {% endcapture %}{% endif %}
{% if item.ads %}{% capture ads %}<a href="{{ item.ads }}">ADS</a> | {% endcapture %}{% endif %}
{% if item.arxiv %}{% capture arxiv %}<a href="{{ item.arxiv }}">arXiv</a> | {% endcapture %}{% endif %}
{% capture fulltext %}{{ publisher }}{{ ads }}{{ arxiv }}{% endcapture %}

<section class="entry{% if item.subentry %} sub-entry{% endif %} publication">
  <header>
    {% comment %}<div class="logo"><img src="{{ site.baseurl }}/img/{{ item.logo }}" /></div>{% endcomment %}
    <div class="entrydetails">
      <div class="journaldate">{{ item.journal | upcase }} | {{ pubdate }}</div>
      <div class="pubtitle">{{ item.title }}</div>
      <div class="authors">{{ item.authors }}</div>
      <div class="fulltext">{{ fulltext | split: "" | reverse | join: "" | remove_first: " | " | split: "" | reverse | join: "" }}</div>
    </div>
  </header>
  {% if mobcollapse %}<input{% if noexpand %} checked{% endif %} type="checkbox" id="expand{{ expand_id }}" class="expand-state" />{% endif %}
  <div class="description">
    {{ item.content | markdownify }}
    {% if noexpand == false and mobcollapse %}<div class="fade-out"></div>{% endif %}
  </div>
  {% if mobcollapse %}<label for="expand{{ expand_id }}" class="toggle-expand{% if noexpand %} noexpand{% endif %}"></label>{% endif %}
  {% if item.link %}<a for="expand{{ expand_id }}" class="toggle-expand link" href="{{ site.baseurl }}{{ item.link }}"></a>{% endif %}
</section>
{% if mobcollapse %}
<style type="text/css">
#expand{{ expand_id }}:checked + .description { max-height: 120rem; }
#expand{{ expand_id }}:checked ~ label.toggle-expand:before { content: "Read Less"; }
#expand{{ expand_id }}:checked + .description > div.fade-out { display: none !important; }
</style>
{% endif %}

