body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #444;
    padding-left: 2%;
    line-height: 1;
}

p {
    margin: 1rem;
}

ul {
    list-style-type: circle;
}

a:link, a:visited {
    color: #000;
}

table {
    padding: 1em;
}
td {
    padding-right: 1em;
}

div.header-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 4%;
}
div.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}
div.main-container {
    max-width: 1264px;
    margin: 0 auto;
}

body > header {
    float: left;
    width: 100%;
    background-color: #eee;
    margin: 0;
}
body > header div.picture {
    height: 15rem;
    margin: 0 auto 2rem;
    padding: 0;
}
body > header .picture img {
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    display: block;
}

div.profile {
    height: auto;
    text-align: center;
}

div.profile div.name {
    font-size: 3rem;
}

div.profile div.name span.lastname {
    font-weight: bold;
}

div.profile div.headline {
    font-size: 1.5rem;
    font-weight: 200;
    color: #444;
}
div.profile div.headline div.txt {
}

header nav {
    padding: 2rem 0 0;
}
footer nav {
    float: right;
    width: 100%;
}
nav ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
nav li {
    float: left;
}
div.profile nav a{
    font-size: 10vw;
    color: #333;
    padding: 0 2vw;
}
footer nav {
    margin: 0 0 1rem 0;
}

div.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section#experience {
    order: 2;
    width: 96%;
    margin: 2%;
}

section#education {
    order: 3;
    width: 96%;
    margin: 2% 2% 0 2%;
}

div.container h1.title {
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding: 0 1rem 1rem 1rem;
}

section.entry {
    float: left;
    width: 95%;
    padding: 2%;
    background-color: #eee;
    margin-bottom: 2%;
    position: relative;
}

section#experience section.entry {
    padding: 2% 2% 3rem;
}

section#experience section.entry:nth-of-type(1) {
    padding: 2%;
}

section.entry.no-content {
    padding: 2% !important;
}

section.entry details summary {
    padding-left: 1rem;
}

section.sub-group {
    display: inline-block;
    width: 100%;
    position: relative;
}

section.sub-group section.entry {
    background-color: #f9f9f9;
}

section.sub-group.publications .filter {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.4rem 0 0;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

section#experience section.entry header label.toggle-expand {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

section.entry header div.entrydetails {
    padding-left: 2%;
}

section.sub-group section.entry header div.entrydetails div {
    margin: 0.3rem 0;
}

section.entry header div.organisation, section.entry header div.date {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #222;
}
section.entry header div.date { 
    font-size: 1rem;
}
section.entry header div.role {
    font-size: 1.5rem;
}
section.publications header, section.talks header {
    line-height: 1.4;
}
section.publications header div.title, section.talks header div.title {
    font-size: 1rem;
}
section.entry header div.dates, section.entry header div.authors {
    font-weight: 300;
    font-size: 1.2rem;
    color: #555;
}
section.publications header div.authors {
    font-size: 1rem;
}
section.entry header div.links {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

section.entry div.description {
    position: relative;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}

section.entry a.toggle-expand.link {
    margin-top: 2%;
}

figure img {
    height: auto;
    width: 100%;
}

figure.three img {
    width: 32%;
}

a.button {
    background-color: cadetblue;
    padding: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
}

footer {
    float: left;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    background-color: #eee;
}
footer a {
    margin: 0 2vw;
    font-size: 10vw;
    color: #333;
}

/* BEGIN Expanding Mechanism */

.expand-state {
    display:none;
}

.expand-state + .description {
    max-height: 0rem;
    overflow: hidden;
    transition: all .3s ease;
}

.toggle-expand {
    display: block;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    padding: 1rem 0;
}

section#experience .toggle-expand {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

section > .toggle-expand:before {
    content: "Read More";
    color: #000;
}

@keyframes fadein { from { opacity:0; } to { opacity:1; } }

div.fade-out {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    animation: fadein ease-in 1;
    animation-duration: .3s;
    background: -webkit-linear-gradient(
        rgba(238, 238, 238, 0) 0%,
        rgba(238, 238, 238, 1) 100%
    );
}

/* expand[number] moved to HTML */

/* END Expanding Mechanism */

/* BEGIN page.html */

div.pagecontainer {
  float: left;
  padding: 0;
  line-height: 2;
  font-size: 1.1rem;
}

/* END page.html */

div.pagecontainer {
    padding: 0 1rem;
}
div.pagecontainer h1, div.pagecontainer h2, div.pagecontainer h3, div.pagecontainer h4, div.pagecontainer h5, div.pagecontainer h6 {
    padding-left: 1rem;
}

ul.blog {
    list-style-type: none;
    padding: 0;
}
ul.blog h2 {
    margin: 2rem 0 0 0;
}
ul.blog p.meta {
    margin: 0 1rem;
}
ul.blog h2 a {
    text-decoration: none;
    color: inherit;
}
ul.blog h2 a:hover {
    text-decoration: none;
    color: #666;
}
div#postnav > div {
    float: left;
    width: 33.3%;
    text-align: center;
}
div#postnav > div a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

@media only screen and (min-width: 704px) {
    body > header {
        height: 19rem;
    }
    div.header-container {
        height: 15rem;
    }
    body > header div.profile div.name {
        font-size: 3.3rem;
        padding: 0;
    }
    body > header div.picture {
        float: left;
        margin: 0 auto;
    }
    body > header div.profile {
        text-align: right;
        padding: 2rem 0;
    }
    div.profile div.headline {
        font-size: 1.7rem;
    }
    div.profile nav a{
        font-size: 2.5rem;
        padding: 0 0 0 1rem;
    }
    div.pagecontainer { padding: 2rem 4rem; }
    footer a {
        margin: 0 2rem;
        font-size: 3rem;
    }
    section.entry.hide-read-more {
        padding: 2% !important;
    }
    section.entry header label.toggle-expand {
        display: none;
    }
    section.sub-group section.entry .toggle-expand {
        padding: 0;
    }
}

@media only screen and (min-width: 961px) {
    div.container {
        flex-direction: row;
    }

    div.container section h1.title{
        text-align: left;
    }

    section#experience {
        order: 3;
        width: 57%;
        margin-left: 1%;
    }

    section#education {
        order: 1;
        width: 37%;
        margin-right: 1%;
    }
    section.entry {
        width: 96%;
    }
    div.pagecontainer { padding: 2rem 6rem; }
    /* BEGIN Expanding Mechanism */
    .expand-state + .description { max-height: 10rem; }
    .toggle-expand.noexpand { display: none; }
    /* END Expanding Mechanism */
    figure.floatr {
        float: right;
        width: 400px;
    }
    figure.floatl {
        float: left;
        width: 400px;
    }
    figure.grid2 img {
        width: 49%;
    }
    figure.grid3 img {
        width: 32%;
    }
}

@media only screen and (min-width: 1056px) {
    div.pagecontainer { padding: 2rem 10rem; }
}

/* BEGIN Dark Mode */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #eee;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #ddd;
    }
    a:link, a:visited {
        color: #eee;
    }
    body > header {
        background-color: #222;
    }
    div.profile div.headline {
        color: #eee;
    }
    div.profile nav a {
        color: #ddd;
    }
    section.entry {
        background-color: #111;
    }
    section.sub-group section.entry {
        background-color: #000;
    }
    section.entry header div.organisation, section.entry header div.date {
        color: #ccc;
    }
    section.entry header div.dates, section.entry header div.authors {
        color: #aaa;
    }
    footer {
        background-color: #222;
    }
    footer a {
        color: #ddd;
    }
    section > .toggle-expand:before {
        content: "Read More";
        color: #ddd;
    }
    div.fade-out {
        background: -webkit-linear-gradient(
            rgba(17, 17, 17, 0) 0%,
            rgba(17, 17, 17, 1) 100%
        );
    }
    ul.blog h2 a:hover {
        color: #aaa;
    }
    div#postnav > div a {
        color: #ccc;
    }
}

/* END Dark Mode */

