<h2>Talks</h2>
<section class="sub-group talks">
{%- assign sorted_talks = site.talks | reverse -%}
{%- for item in sorted_talks -%}
  {%- if item.context == include.context -%}

    {%- if item.noexpand -%}
      {%- assign noexpand = true -%}
    {%- else -%}
      {%- assign noexpand = false -%}
    {%- endif -%}
    
    {%- if item.mobcollapse -%}
      {%- assign mobcollapse = true -%}
    {%- else -%}
      {%- assign mobcollapse = false -%}
    {%- endif -%}
    
    {%- if mobcollapse %}{% capture expand_id %}{% increment var %}{% endcapture %}{% endif -%}
    
    {%- assign project = '' -%}
    {%- assign paper = '' -%}
    {%- assign slides = '' -%}
    {%- assign recording = '' -%}
    {% if item.project %}{% capture project %}<a href="{{ item.project }}" target="_blank" rel="noopener noreferrer">Project</a> | {% endcapture %}{% endif %}
    {% if item.paper %}{% capture paper %}<a href="{{ item.paper }}" target="_blank" rel="noopener noreferrer">Paper</a> | {% endcapture %}{% endif %}
    {% if item.slides %}{% capture slides %}<a href="{{ item.slides }}" target="_blank" rel="noopener noreferrer">Slides</a> | {% endcapture %}{% endif %}
    {% if item.recording %}{% capture recording %}<a href="{{ item.recording }}" target="_blank" rel="noopener noreferrer">Recording</a> | {% endcapture %}{% endif %}
    {% capture links %}{{ project }}{{ paper }}{{ slides }}{{ recording }}{% endcapture %}
    
<section class="entry">
  <header>
    <div class="entrydetails">
      <div class="date">{{ item.group | upcase }} | {{ item.date | date: "%b %Y" }} | {{ item.duration }}</div>
      <div class="title">{{ item.title }}</div>
      <div class="authors">{{ item.authors }}</div>
      <div class="links">{{ links | split: "" | reverse | join: "" | remove_first: " | " | split: "" | reverse | join: "" }}</div>
    </div>
  </header>
  {% if mobcollapse %}<input{% if noexpand %} checked{% endif %} type="checkbox" id="expand{{ expand_id }}" class="expand-state" />{% endif %}
  <div class="description">
    {{ item.content | markdownify }}
    {%- if noexpand == false and mobcollapse %}<div class="fade-out"></div>{% endif -%}
  </div>
  {% if mobcollapse %}<label for="expand{{ expand_id }}" class="toggle-expand{% if noexpand %} noexpand{% endif %}"></label>{% endif %}
  {% if item.link %}<a for="expand{{ expand_id }}" class="toggle-expand link" href="{{ item.link }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
</section>
{%- if mobcollapse -%}
<style type="text/css">
#expand{{ expand_id }}:checked + .description { max-height: 120rem; }
#expand{{ expand_id }}:checked ~ label.toggle-expand:before { content: "Read Less"; }
#expand{{ expand_id }}:checked + .description > div.fade-out { display: none !important; }
</style>
{%- endif -%}

  {%- endif -%}

{%- endfor %}
</section>

