---
layout: default
---
<div class="container cv">
  <div class="column left">
    <section id="education">
      <h1 class="title">Education</h1>

      {% assign sorted_education = site.education | reverse -%}
      {%- for item in sorted_education -%}

        {%- unless item.subentry -%}
          {% include entry.html entry=item full=true -%}
        {%- endunless -%}

      {%- endfor -%}
    </section>
    <section id="certifications">
      <h1 class="title">Certifications</h1>
      <div class="certifications">
        <div class="certification">
          <a href="https://www.credly.com/badges/bd9b0930-bb38-44c4-9a96-a4592e6aa6da">
            <img src="{{ site.images }}/aws-certified-solutions-architect-associate.png" alt="AWS Certified Solutions Architect - Associate"/>
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="column right">
    <section id="experience" class="experience">
      <h1 class="title">Experience</h1>

      {% capture expand_id -%}{%- increment var -%}{%- endcapture -%}

      {%- assign sorted_experiences = site.experience | reverse -%}
      {%- assign grouped_experiences = sorted_experiences | group_by: "organisation" -%}
      {%- for group in grouped_experiences -%}

        {%- unless group.items[0].subentry -%}
          {% include entry.html entry=group.items full=true -%}
        {%- endunless -%}

      {%- endfor -%}
    </section>
    <section id="volunteering">
      <h1 class="title">Volunteering</h1>

      {%- assign sorted_volunteering = site.volunteering | reverse -%}
      {%- for item in sorted_volunteering -%}

        {%- unless item.subentry -%}
          {% include entry.html entry=item full=true -%}
        {%- endunless -%}

      {%- endfor -%}
    </section>
  </div>
</div>
<script>
function scrollToBlock(id) {
    var el = document.getElementById(id);
    var rect = el.getBoundingClientRect();
    if (rect.top < -10) {
        var offset = window.pageYOffset || document.documentElement.scrollTop;
        var top = rect.top + offset;
        window.scrollTo({left: 0, top: top, behavior: "smooth"});
    }
}
function mobileCollapse() {
    w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    if (w < 961) {
        var x = document.getElementsByClassName("noexpand");
        for (var i = 0; i < x.length; ++i) {
            var item = x[i];
            var itemid = item.getAttribute("for");
            var checkbox = document.getElementById(itemid);
            checkbox.checked = false;
        }
    }
    var x = document.getElementsByClassName("experience")[0]
            .getElementsByClassName("entry");
    for (var i = 0; i < x.length; ++i) {
        var item = x[i];
        var descriptions = item.getElementsByClassName("description");
        if (descriptions.length > 0) {
            descriptions[0].style.display = "block";
        }
    }
};
document.onload = mobileCollapse();
</script>
