<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/css/styles.css">
  {% if page.url != "/" %}<link rel="stylesheet" href="/assets/css/navbar.css">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:700|Roboto:300,400,700&display=swap" rel="stylesheet">
  {% seo -%}
  {% if page.mathjax -%}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {%- endif -%}
  <meta
    name="theme-color"
    content="#EEEEEE"
    media="(prefers-color-scheme: light)" />
  <meta
    name="theme-color"
    content="#222222"
    media="(prefers-color-scheme: dark)" />
</head>
<body>
  <header>
    <div class="header-container">
    <div class="picture"><img src="{{ site.images }}/{{ site.profile_picture }}" alt="Conor MacBride" /></div>
    <div class="profile">
      <div class="name">
        <img src="{{ site.images }}/{{ site.profile_picture }}" alt="Conor MacBride" />
        <span class="title">Dr</span>
        <span class="firstname">Conor</span>
        <span class="lastname">MacBride</span>
      </div>
      <div class="headline"><div class="txt">{{ site.tagline }}</div></div>
      <nav>
        <ul class="contact">
          <li{% if page.url == "/" %} class="active"{% endif %}><a href="{% link index.html %}" aria-label="About" title="About">About</a></li>
          <li{% if page.url == "/cv/" %} class="active"{% endif %}><a href="{% link cv.html %}" aria-label="CV" title="CV">CV</a></li>
          <li><a href="mailto:{{ site.email }}" aria-label="Email" title="Email"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" aria-label="LinkedIn" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/{{ site.github_username }}" aria-label="GitHub" title="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </nav>
    </div>
    </div>
  </header>
  <div class="main-container-outer">
  <div class="main-container">
    {{ content }}
  </div>
  </div>
  <footer>
    <div class="footer-container">
    <nav>
      <ul class="links">
        <li><a href="mailto:{{ site.email }}" aria-label="Email"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" aria-label="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/{{ site.github_username }}" aria-label="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
    <div class="credit">Conor <strong>MacBride</strong> &copy; 2018&ndash;{{ "now" | date: "%Y" }}</div>
    </div>
  </footer>
  <script>
    // Make the header clickable when on a mobile device
    document.querySelector('div.name').addEventListener('click', function() {
      if ((window.innerWidth < 641) && (window.location.pathname != '/')) {
        window.location.href = "{% link index.html %}";
      }
    });
  </script>
</body>
</html>
