---
layout: default
---
<div class="container home">
  <div class="column left">
    <section id="column-left">
      {%- assign grouped_experience = site.data.grouped_experience -%}
      {%- for group in grouped_experience -%}
        {%- if group.homepage -%}
          {% include entry.html entry=group full=false -%}
        {%- endif -%}
      {%- endfor -%}
      {%- assign grouped_education = site.data.grouped_education -%}
      {%- for group in grouped_education -%}
        {%- if group.homepage -%}
          {% include entry.html entry=group full=false -%}
        {%- endif -%}
      {%- endfor -%}
      <a href="/cv/">
        <section class="entry no-content">
          <header>
            <div class="entrydetails">
              <div class="heading-above" style="text-transform: none;">See all my experience and education in&nbsp;my&nbsp;CV&nbsp;&#187;</div>
            </div>
          </header>
        </section>
      </a>
    </section>
  </div>
  <div class="column right">
    <section id="column-right">
      <section class="entry nobg never-collapse">
        <div class="description">
          {{ page.content | markdownify }}
        </div>
      </section>
    </section>
  </div>
</div>
