---
layout: default
---
<div class="container">
<section id="column-right" class="maincontent">
  <section class="entry">
    <div class="description">
      {{ page.content | markdownify }}
    </div>
  </section>
</section>
<section id="column-left">

  {%- assign sorted_experiences = site.experience | reverse -%}
  {%- for item in sorted_experiences -%}

    {%- unless item.homepage == false -%}
    {%- unless item.subentry -%}
      {% include entry.html entry=item full=false -%}
    {%- endunless -%}
    {%- endunless -%}

  {%- endfor -%}

  {% assign sorted_education = site.education | reverse -%}
  {%- for item in sorted_education -%}

    {%- unless item.homepage == false -%}
    {%- unless item.subentry -%}
      {% include entry.html entry=item full=false -%}
    {%- endunless -%}
    {%- endunless -%}

  {%- endfor -%}

  <a href="/cv/">
    <section class="entry">
      <header>
        <div class="entrydetails">
          <div class="heading-above" style="text-transform: none;">See all my experience and education in my CV &#187;</div>
        </div>
      </header>
    </section>
  </a>

</section>
</div>
