---
layout: default
---
<div id="main" class="pagecontainer">
  <p><strong>{{ page.date | date_to_string }} &mdash; {{ content | reading_time | pluralize: "minute" }}</strong></p>
  <h1>{{ page.title }}</h1>
  {{ page.content | markdownify }}
  <div id="postnav">
    <div id="previous">&nbsp;
      {% if page.previous %}
        <a href="{{ page.previous.url | relative_url }}">&larr; Previous</a>
      {% endif %}
    </div>
    <div id="index">
        <a href="{% link blog.html %}">Index</a>
    </div>
    <div id="next">&nbsp;
      {% if page.next %}
        <a href="{{ page.next.url | relative_url }}">Next &rarr;</a>
      {% endif %}
    </div>
  </div>
</div>
